@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: DFKai-sb;
}

body {
  /* overflow-x: hidden; */
  background-color: #010615;
}

.fill-border {
  /* border: 1px solid red; */
  /* background-color: #b3afa3; */
  width: 100%;
}

.background-black {
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  position: fixed;
  top: 0;
  z-index: 3;
}

.free {
  background-image: url('../img/indexban.jpg');
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* border: 1px solid white; */
  width: 80px;
  height: 102px;
  /* margin-left: 10px; */
}

.nav_list {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  width: 800px;
  /* font-size: 20px; */
  margin-right: 20px;
}

.nav_list > li {
  /* border: 1px solid blue; */
  display: flex;
  list-style: none;
  height: 100%;
  /* margin-left: 60px; */
  color: white;
  font-size: 16px;
  padding: 5px;
  transition: 2s all;
}

.nav_list > li > a {
  color: white;
  text-decoration: none;
}

.nav_list > li :hover {
  color: gray;
}

.nav-li-01:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-02:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-03:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-04:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-05:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.menu-wrap {
  display: none;
}

.black {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
}

.black .contain {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.black .contain .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.black .contain .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.black .contain .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.black .contain .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

.black .contain .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.black .contain .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.black .contain .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

.black .contain .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

.black .contain .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

.black .contain .signupBx {
  pointer-events: none;
}

.black .contain.active .signupBx {
  pointer-events: initial;
}

.black .contain .signupBx .formBx {
  left: 100%;
}

.black .contain.active .signupBx .formBx {
  left: 0;
}

.black .contain .signupBx .imgBx {
  left: -100%;
}

.black .contain.active .signupBx .imgBx {
  left: 0%;
}

.black .contain .signinBx .formBx {
  left: 0%;
}

.black .contain.active .signinBx .formBx {
  left: 100%;
}

.black .contain .signinBx .imgBx {
  left: 0%;
}

.black .contain.active .signinBx .imgBx {
  left: -100%;
}

.wrong {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 15px;
}

.wrong02 {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 15px;
}

.shopping-car {
  /* border: 1px solid black; */
  width: 16.5%;
  height: 100vh;
  background-color: white;
  box-shadow: 1px 1px 10px gray;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 4;

  transition: all 1s;
}

.shopping-car h3 {
  background-color: #000;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.shopping-car-content {
  /* border: 1px solid black; */
  width: 100%;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-car-btn {
  width: 100%;
  height: 100px;
  /* border: 1px solid red; */
  background-color: white;
}

.car-title {
  color: white;
}

.shopping-car-btn1 {
  border: none;
  border-radius: 5px;
  width: 240px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 675px; */
  margin-left: 4px;

  /* position: fixed; */
  /* bottom: 10px; */
  /* left: 5px; */
  background-color: #4cae4c;
  color: white;
}

.shopping-car-btn1:hover {
  background-color: #449d44;
}

.chili-page {
  /* border: 3px solid blue; */
  width: 100%;
  background-color: #010615;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chili {
  /* border: 1px solid red; */
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.aa {
  /* border: 1px solid blue; */
  margin-bottom: 600px;
  /* z-index: 3; */
}

.chili-title {
  /* border: 1px solid red; */
  font-size: 24px;
  color: red;
  font-weight: 700;

  /* margin-top: 100px; */
}

.chili-sub-title {
  color: white;
  font-size: 16px;
}

.chili-info {
  display: flex;
  justify-content: space-around;
  width: 1200px;

  /* border: 1px solid red; */
}

.chili-img {
  /* border: 1px solid yellow; */
  position: relative;
  width: 600px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chili-img-center {
  display: block;
  width: 180px;
  height: 230px;
  position: absolute;
  z-index: 1;
}
.line01 {
  border: 3px solid white;
  border-right: none;
  border-top: none;
  width: 150px;
  height: 40px;
  position: absolute;
  left: 70px;
  top: 220px;
}

.line02 {
  border: 3px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 150px;
  height: 40px;
  position: absolute;
  left: 65px;
  bottom: 150px;
}
.line03 {
  border: 3px solid white;
  border-bottom: none;
  border-left: none;
  width: 150px;
  height: 40px;
  position: absolute;
  right: 65px;
  top: 300px;
}
.circle01 {
  background-image: url('../img/chili.png');
  background-size: cover;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 15px;
  top: 120px;
  transition: all, 1s;
}
.circle01:hover {
  background-image: url('../img/a01.jpg');
  background-size: cover;
  transform: scale(1.5);
}
.circle02 {
  background-image: url('../img/garlic.png');
  background-size: cover;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: -30px;
  bottom: 140px;
  transition: all, 1s;
}
.circle02:hover {
  background-image: url('../img/a03.jpg');
  background-size: cover;
  transform: scale(1.5);
}
.circle03 {
  background-image: url('../img/capers.png');
  background-size: cover;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 15px;
  top: 340px;
  transition: all, 1s;
}
.circle03:hover {
  background-image: url('../img/a04.jpg');
  background-size: cover;
  transform: scale(1.5);
}
.chili-info-detail {
  /* border: 1px solid blue; */
  width: 270px;
}

.chili-info-detail01 {
  /* border: 1px solid blue; */
  width: 270px;
  margin-top: 70px;
}

.chili-info-detail02 {
  /* border: 1px solid blue; */
  width: 270px;
  margin-top: 200px;
}

.detial-title01 {
  color: red;
  font-size: 24px;
  background-image: linear-gradient(
    75deg,
    rgba(230, 0, 0, 1) 0%,
    rgba(230, 0, 0, 1) 33.33%,
    rgba(230, 0, 0, 0) 66.67%,
    rgba(230, 0, 0, 0) 100%
  );
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 3s all;
}

.detial-title01-active {
  background-position-x: 0%;
}

.detial-content01 {
  font-size: 18px;
  color: white;
  margin-left: 20px;
  transition: 5s all;
  opacity: 0;
}

.detial-content01-active {
  opacity: 1;
}

.detial-title02 {
  color: red;
  font-size: 24px;
  background-image: linear-gradient(
    75deg,
    rgba(230, 0, 0, 1) 0%,
    rgba(230, 0, 0, 1) 33.33%,
    rgba(230, 0, 0, 0) 66.67%,
    rgba(230, 0, 0, 0) 100%
  );
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 3s all;
}

.detial-title02-active {
  background-position-x: 0%;
}

.detial-content02 {
  font-size: 18px;
  color: white;
  margin-left: 20px;
  transition: 5s all;

  opacity: 0;
}

.detial-content02-active {
  opacity: 1;
}

.detial-title03 {
  color: red;
  font-size: 24px;
  background-image: linear-gradient(
    75deg,
    rgba(230, 0, 0, 1) 0%,
    rgba(230, 0, 0, 1) 33.33%,
    rgba(230, 0, 0, 0) 66.67%,
    rgba(230, 0, 0, 0) 100%
  );
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 3s all;
}

.detial-title03-active {
  background-position-x: 0%;
}

.detial-content03 {
  font-size: 18px;
  color: white;
  margin-left: 20px;
  transition: 5s all;

  opacity: 0;
}

.detial-content03-active {
  opacity: 1;
}

.chili-left {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}
.chili-right {
  /* border: 1px solid orange; */
  display: flex;
  height: 300px;
  align-items: flex-end;
}

.another-chili {
  display: none;
}

.banner02 {
  /* border: 1px solid red; */
  background-image: url('../img/banner02.png');
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  height: 1000px;
  width: 100%;
  /* margin-top: 10px; */
}

.banner-content {
  /* border: 1px solid yellow; */
  width: 1200px;
  margin: 0 auto;
}

.form_01 {
  /* border: 1px solid blue; */

  transform: translateY(380%);
  transition: all 2s;
  opacity: 0;
}

.down {
  opacity: 1;
  transform: translateY(0%);
}

.ban-form01 {
  /* border: 1px solid red; */
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 150px;
}

.num-01 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 56px;
}

.name01 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 40px;
}

.fresh-content {
  /* border: 1px solid blue; */
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.fresh-img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 40px;
  background-image: url('../img/fresh01.jpg');
  background-size: cover;
}

.form_02 {
  /* border: 1px solid blue; */
  width: 100%;
  margin-top: 110px;
  transform: translateY(280%);
  transition: all 2s;
  opacity: 0;
}

.down02 {
  opacity: 1;
  transform: translateY(0%);
}

.ban-form02 {
  /* border: 1px solid red; */
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-left: 200px;
}

.quality-img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 40px;
  background-image: url('../img/quality022.jpg');
  background-size: cover;
}

.name02 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 24px;
  margin-top: 10px;
  margin-right: 40px;
}

.quality-content {
  /* border: 1px solid blue; */
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.num-02 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 56px;
}

.form_03 {
  /* border: 1px solid blue; */
  margin-top: 110px;

  transform: translateY(150%);
  transition: all 2s;
  opacity: 0;
}

.down03 {
  opacity: 1;
  transform: translateY(0%);
}

.ban-form03 {
  /* border: 1px solid red; */
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-left: 20px;
}

.num-03 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 56px;
}

.name03 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 40px;
}

.feature-content {
  /* border: 1px solid blue; */
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.feature-img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 40px;
  background-color: #fff;
  background-image: url('../img/feature03.jpg');
  background-size: cover;
}

.banner-rwd {
  display: none;
}

.lightcard-rwd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #060c21;
  margin: 40px;
}

.box::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.box::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.box:nth-child(1):before,
.box:nth-child(1)::after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2)::after {
  background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3)::after {
  background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.box .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

/* .box .content {
  padding: 20px;
  color: #fff;
} */

.box .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  /* border: 1px solid red; */
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  color: white;
  display: flex;
  justify-content: center;
}

.all-ft {
  /* border: 1px solid blue; */
  width: 1200px;
}

.ft-top {
  display: flex;
}

.ft01 {
  margin-right: 350px;
  margin-top: 15px;
}

.ft01 h3 {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.ft01 li {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  padding-left: 10px;
  list-style: none;
}

.ft02 {
  margin-right: 420px;
  margin-top: 15px;
}

.ft02 li {
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.ft02 h3 {
  display: flex;
  justify-content: center;
}

.ft03 {
  margin-top: 15px;
}

.ft03 li {
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.avg {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 14px;
  color: white;
}
