@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  /* overflow-x: hidden; */
  background-color: #323232;
}

.fill-border {
  /* border: 1px solid red; */
  /* background-color: #b3afa3; */
  width: 100%;
}

.background-black {
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  position: fixed;
  top: 0;
  z-index: 3;
}

.free {
  background-image: url('../img/indexban.jpg');
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* border: 1px solid white; */
  width: 80px;
  height: 102px;
  /* margin-left: 10px; */
}

.nav_list {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  width: 800px;
  /* font-size: 20px; */
  /* margin-right: 10px; */
}

.nav_list > li {
  /* border: 1px solid blue; */
  display: flex;
  list-style: none;
  height: 100%;
  /* margin-left: 60px; */
  color: white;
  font-size: 16px;
  padding: 5px;
  transition: 2s all;
}

.nav_list > li > a {
  color: white;
  text-decoration: none;
}

.nav_list > li :hover {
  color: gray;
}

.nav-li-01:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-02:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-03:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-04:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-05:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.menu-wrap {
  display: none;
}

.black {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  transition: 0.5s;
  background: rgba(16, 16, 16, 0.95);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
}

.login_container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;
  /* background: #ff0; */
}

.bluebg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.bluebg .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bluebg .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.bluebg .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.formbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.formbx.active {
  left: 50%;
}

.formbx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}

.formbx .signinform {
  transition-delay: 0.25s;
}

.formbx.active .signinform {
  left: -100%;
  transition-delay: 0s;
}

.formbx .signupform {
  left: 100%;
  transition-delay: 0s;
}

.formbx.active .signupform {
  left: 0;
  transition-delay: 0.25s;
}

.formbx .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formbx .form form h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.formbx .form form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
}

.formbx .form form input[type='submit'] {
  background: #03a9f4;
  border: none;
  color: #fff;
  max-width: 100px;
  cursor: pointer;
}

.formbx.active .signupform input[type='submit'] {
  background: #f43648;
}

.formbx .form form .forgot {
  color: #333;
  /* text-decoration: none; */
}

.wrong {
  position: absolute;
  font-size: 30px;
  top: -50px;
  right: 15px;
}

.wrong02 {
  position: absolute;
  font-size: 30px;
  top: 0px;
  right: 15px;
}

.shopping-car {
  /* border: 1px solid black; */
  width: 16.5%;
  height: 100vh;
  background-color: white;
  box-shadow: 1px 1px 10px gray;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 4;

  transition: all 1s;
}

.shopping-car h3 {
  background-color: #000;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.shopping-car-content {
  /* border: 1px solid black; */
  width: 100%;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-car-btn {
  width: 100%;
  height: 100px;
  /* border: 1px solid red; */
  background-color: white;
}

.car-title {
  color: white;
}

.shopping-car-btn1 {
  border: none;
  border-radius: 5px;
  width: 240px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 675px; */
  margin-left: 4px;

  /* position: fixed; */
  /* bottom: 10px; */
  /* left: 5px; */
  background-color: #4cae4c;
  color: white;
}

.shopping-car-btn1:hover {
  background-color: #449d44;
}

.chili-page {
  /* border: 3px solid blue; */
  width: 100%;
  background-color: #323232;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chili {
  /* border: 1px solid red; */
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.aa {
  /* border: 1px solid blue; */
  margin-bottom: 600px;
  /* z-index: 3; */
}

.chili-title {
  /* border: 1px solid red; */
  font-size: 24px;
  color: red;
  font-weight: 700;

  /* margin-top: 100px; */
}

.chili-sub-title {
  color: white;
  font-size: 16px;
}

.chili-info {
  display: flex;
  justify-content: space-around;
  width: 1200px;

  /* border: 1px solid red; */
}

.chili-img {
  /* border: 1px solid yellow; */
  position: relative;
  width: 600px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chili-img-center {
  display: block;
  width: 180px;
  height: 230px;
  position: absolute;
  z-index: 1;
}
.line01 {
  border: 3px solid white;
  border-right: none;
  border-top: none;
  width: 150px;
  height: 40px;
  position: absolute;
  left: 70px;
  top: 220px;
}

.line02 {
  border: 3px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 150px;
  height: 40px;
  position: absolute;
  left: 65px;
  bottom: 150px;
}
.line03 {
  border: 3px solid white;
  border-bottom: none;
  border-left: none;
  width: 150px;
  height: 40px;
  position: absolute;
  right: 65px;
  top: 300px;
}
.circle01 {
  background-image: url('../img/chili.png');
  background-size: cover;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 15px;
  top: 120px;
  transition: all, 1s;
}
.circle01:hover {
  background-image: url('../img/a01.jpg');
  background-size: cover;
  transform: scale(1.5);
}
.circle02 {
  background-image: url('../img/garlic.png');
  background-size: cover;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: -30px;
  bottom: 140px;
  transition: all, 1s;
}
.circle02:hover {
  background-image: url('../img/a03.jpg');
  background-size: cover;
  transform: scale(1.5);
}
.circle03 {
  background-image: url('../img/capers.png');
  background-size: cover;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 15px;
  top: 340px;
  transition: all, 1s;
}
.circle03:hover {
  background-image: url('../img/a04.jpg');
  background-size: cover;
  transform: scale(1.5);
}
.chili-info-detail {
  /* border: 1px solid blue; */
  width: 270px;
}

.chili-info-detail01 {
  /* border: 1px solid blue; */
  width: 270px;
  margin-top: 70px;
}

.chili-info-detail02 {
  /* border: 1px solid blue; */
  width: 270px;
  margin-top: 200px;
}

.detial-title01 {
  color: red;
  font-size: 24px;
  background-image: linear-gradient(
    75deg,
    rgba(230, 0, 0, 1) 0%,
    rgba(230, 0, 0, 1) 33.33%,
    rgba(230, 0, 0, 0) 66.67%,
    rgba(230, 0, 0, 0) 100%
  );
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 3s all;
}

.detial-title01-active {
  background-position-x: 0%;
}

.detial-content01 {
  font-size: 18px;
  color: white;
  margin-left: 20px;
  transition: 5s all;
  opacity: 0;
}

.detial-content01-active {
  opacity: 1;
}

.detial-title02 {
  color: red;
  font-size: 24px;
  background-image: linear-gradient(
    75deg,
    rgba(230, 0, 0, 1) 0%,
    rgba(230, 0, 0, 1) 33.33%,
    rgba(230, 0, 0, 0) 66.67%,
    rgba(230, 0, 0, 0) 100%
  );
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 3s all;
}

.detial-title02-active {
  background-position-x: 0%;
}

.detial-content02 {
  font-size: 18px;
  color: white;
  margin-left: 20px;
  transition: 5s all;

  opacity: 0;
}

.detial-content02-active {
  opacity: 1;
}

.detial-title03 {
  color: red;
  font-size: 24px;
  background-image: linear-gradient(
    75deg,
    rgba(230, 0, 0, 1) 0%,
    rgba(230, 0, 0, 1) 33.33%,
    rgba(230, 0, 0, 0) 66.67%,
    rgba(230, 0, 0, 0) 100%
  );
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 3s all;
}

.detial-title03-active {
  background-position-x: 0%;
}

.detial-content03 {
  font-size: 18px;
  color: white;
  margin-left: 20px;
  transition: 5s all;

  opacity: 0;
}

.detial-content03-active {
  opacity: 1;
}

.chili-left {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}
.chili-right {
  /* border: 1px solid orange; */
  display: flex;
  height: 300px;
  align-items: flex-end;
}

.another-chili {
  display: none;
}

.banner02 {
  /* border: 1px solid red; */
  background-image: url('../img/banner02.png');
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  height: 1000px;
  width: 100%;
  /* margin-top: 10px; */
}

.banner-content {
  /* border: 1px solid yellow; */
  width: 1200px;
  margin: 0 auto;
}

.form_01 {
  /* border: 1px solid blue; */

  transform: translateY(380%);
  transition: all 2s;
  opacity: 0;
}

.down {
  opacity: 1;
  transform: translateY(0%);
}

.ban-form01 {
  /* border: 1px solid red; */
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 150px;
}

.num-01 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 56px;
}

.name01 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 40px;
}

.fresh-content {
  /* border: 1px solid blue; */
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.fresh-img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 40px;
  background-image: url('../img/fresh01.jpg');
  background-size: cover;
}

.form_02 {
  /* border: 1px solid blue; */
  width: 100%;
  margin-top: 110px;
  transform: translateY(280%);
  transition: all 2s;
  opacity: 0;
}

.down02 {
  opacity: 1;
  transform: translateY(0%);
}

.ban-form02 {
  /* border: 1px solid red; */
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-left: 200px;
}

.quality-img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 40px;
  background-image: url('../img/quality022.jpg');
  background-size: cover;
}

.name02 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 24px;
  margin-top: 10px;
  margin-right: 40px;
}

.quality-content {
  /* border: 1px solid blue; */
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.num-02 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 56px;
}

.form_03 {
  /* border: 1px solid blue; */
  margin-top: 110px;

  transform: translateY(150%);
  transition: all 2s;
  opacity: 0;
}

.down03 {
  opacity: 1;
  transform: translateY(0%);
}

.ban-form03 {
  /* border: 1px solid red; */
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-left: 20px;
}

.num-03 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 56px;
}

.name03 {
  /* border: 1px solid blue; */
  color: white;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 40px;
}

.feature-content {
  /* border: 1px solid blue; */
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.feature-img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 40px;
  background-color: #fff;
  background-image: url('../img/feature03.jpg');
  background-size: cover;
}

.poker-card {
  /* border: 1px solid red; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.poker-title {
  /* border: 1px solid blue; */
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-slo {
  font-weight: 900;
  font-size: 25px;
  color: rgba(230, 0, 0, 1);
  text-align: center;
}

.title-slo02 {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.poker-box {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
}

.menu-card {
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.menu-card::before,
.menu-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.5s;
  z-index: -1;
}

.menu-card:hover::before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.menu-card:hover::after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.menu-img {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 2;
}

.menu-card:hover .menu-img {
  bottom: 90px;
}

.menu-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-info {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 70px;
  text-align: center;
  z-index: 1;
}

.menu-info h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(230, 0, 0, 1);
}

.menu-info .button {
  border: 1px solid rgba(230, 0, 0, 1);
  margin: 0 auto;
}

.menu-info .button a {
  display: block;
  text-decoration: none;
  color: rgba(230, 0, 0, 1);
}

.menu-info .button:hover a {
  color: #fff;
}

button {
  outline-style: none;
}
.button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button::after {
  background: rgba(230, 0, 0, 1);
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  left: -50%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}
.button:hover::after {
  height: 100%;
  width: 200%;
}

.footer {
  /* border: 1px solid red; */
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  color: white;
  display: flex;
  justify-content: center;
}

.all-ft {
  /* border: 1px solid blue; */
  width: 1200px;
}

.ft-top {
  display: flex;
}

.ft01 {
  margin-right: 350px;
  margin-top: 15px;
}

.ft01 h3 {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.ft01 li {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  padding-left: 10px;
  list-style: none;
}

.ft02 {
  margin-right: 420px;
  margin-top: 15px;
}

.ft02 li {
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.ft02 h3 {
  display: flex;
  justify-content: center;
}

.ft03 {
  margin-top: 15px;
}

.ft03 li {
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.avg {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 14px;
  color: white;
}
