* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fill-border {
  /* border: 1px solid red; */
  background-color: rgba(16, 16, 16, 0.95);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.container {
  /* background-color: rgba(16, 16, 16, 0.95); */
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 102px;
  /* margin-left: 10px; */
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 800px;
  /* font-size: 20px; */
}

.nav_list > li {
  /* border: 1px solid blue; */
  display: flex;
  list-style: none;
  height: 100%;
  color: white;
  font-size: 16px;
  padding: 5px;
  transition: 2s all;
}

.nav_list > li > a {
  color: white;
  text-decoration: none;
}

.nav_list > li :hover {
  color: gray;
}

.nav-li-01 {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-01:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-02:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-03:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-04:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-05:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.menu-wrap {
  display: none;
}

.black {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  transition: 0.5s;
  background: rgba(16, 16, 16, 0.95);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
}

.login_container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;
  /* background: #ff0; */
}

.bluebg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.bluebg .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bluebg .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.bluebg .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.formbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.formbx.active {
  left: 50%;
}

.formbx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}

.formbx .signinform {
  transition-delay: 0.25s;
}

.formbx.active .signinform {
  left: -100%;
  transition-delay: 0s;
}

.formbx .signupform {
  left: 100%;
  transition-delay: 0s;
}

.formbx.active .signupform {
  left: 0;
  transition-delay: 0.25s;
}

.formbx .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formbx .form form h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.formbx .form form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
}

.formbx .form form input[type='submit'] {
  background: #03a9f4;
  border: none;
  color: #fff;
  max-width: 100px;
  cursor: pointer;
}

.formbx.active .signupform input[type='submit'] {
  background: #f43648;
}

.formbx .form form .forgot {
  color: #333;
  /* text-decoration: none; */
}

.wrong {
  position: absolute;
  font-size: 30px;
  top: -50px;
  right: 15px;
}

.wrong02 {
  position: absolute;
  font-size: 30px;
  top: 0px;
  right: 15px;
}

.aside {
  /* border: 1px solid blue; */
  width: 100%;
  margin-top: 80px;
  /* height: 100vh; */

  /* display: flex; */
}

.aa {
  /* border: 1px solid black; */
  display: flex;
  width: 1180px;
  height: 600px;
  margin: 0 auto;
}

.shen-ge {
  width: 100px;
  height: 350px;
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 10px;
}

.news-image {
  margin-top: 150px;
  margin-right: 270px;
  width: 600px;
  height: 400px;
}

.news02-img {
  display: none;
}

.news-title {
  /* border: 1px solid red; */
  margin-top: 50px;
  letter-spacing: 10px;
  writing-mode: vertical-rl;
}

.news-title-slo {
  margin-top: 50px;
}

.section {
  /* border: 1px solid red; */
  width: 100%;
  height: 350px;

  /* display: flex; */
}

.bb {
  /* border: 1px solid black; */
  display: flex;
  width: 1180px;
  height: 350px;
  margin: 0 auto;
}

.section-image {
  width: 150px;
  height: 150px;
}

.logo-change {
  width: 150px;
  height: 250px;
  margin-left: 380px;
  margin-right: 200px;
  margin-top: 100px;
}

.main {
  /* border: 1px solid red; */
  width: 100%;
  /* height: 100vh; */
  box-sizing: border-box;
  /* display: flex; */
}

.class-main {
  /* border: 1px solid black; */
  width: 1180px;
  height: 900px;
  margin: 0 auto;
}

.row_01 {
  /* border: 1px solid red; */
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.row_02 {
  /* border: 1px solid red; */
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.row_03 {
  /* border: 1px solid red; */
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.card01 {
  /* border: 1px solid black; */
  width: 330px;
  height: 224px;
  position: relative;

  margin-right: 15px;
}

.news01 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  /* margin-right: 15px; */

  letter-spacing: 10px;
  /* writing-mode: tb-rl; */

  position: absolute;
  transform: rotateY(0deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.news01 h3 {
  margin-right: 70px;
  margin-top: 20px;
}

.news01 h4 {
  margin-right: 60px;
  margin-top: 20px;
}

.card_img01 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../img/a01.jpg');
  background-size: cover;
  transform: rotateY(-180deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.card01:hover .news01 {
  transform: rotateY(180deg);
}

.card01:hover .card_img01 {
  transform: rotateY(0deg);
}

.card02 {
  /* border: 1px solid black; */
  width: 330px;
  height: 224px;
  position: relative;

  margin-right: 15px;
}

.news02 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  /* margin-right: 15px; */

  letter-spacing: 10px;
  /* writing-mode: tb-rl; */

  position: absolute;
  transform: rotateY(0deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.news02 h3 {
  margin-right: 70px;
  margin-top: 20px;
}

.news02 h4 {
  margin-right: 60px;
  margin-top: 20px;
}

.card_img02 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../img/a03.jpg');
  background-size: cover;
  transform: rotateY(-180deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.card02:hover .news02 {
  transform: rotateY(180deg);
}

.card02:hover .card_img02 {
  transform: rotateY(0deg);
}

.card03 {
  /* border: 1px solid black; */
  width: 330px;
  height: 224px;
  position: relative;
}

.news03 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  /* margin-right: 15px; */

  letter-spacing: 10px;
  /* writing-mode: tb-rl; */

  position: absolute;
  transform: rotateY(0deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.news03 h3 {
  margin-right: 70px;
  margin-top: 20px;
}

.news03 h4 {
  margin-right: 60px;
  margin-top: 20px;
}

.card_img03 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../img/a04.jpg');
  background-size: cover;
  transform: rotateY(-180deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.card03:hover .news03 {
  transform: rotateY(180deg);
}

.card03:hover .card_img03 {
  transform: rotateY(0deg);
}

.card04 {
  /* border: 1px solid black; */
  width: 330px;
  height: 224px;
  position: relative;
  margin-right: 15px;
}

.news04 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  /* margin-right: 15px; */

  letter-spacing: 10px;
  /* writing-mode: tb-rl; */

  position: absolute;
  transform: rotateY(0deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.news04 h3 {
  margin-right: 70px;
  margin-top: 20px;
}

.news04 h4 {
  margin-right: 60px;
  margin-top: 20px;
}

.card_img04 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../img/a01.jpg');
  background-size: cover;
  transform: rotateY(-180deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.card04:hover .news04 {
  transform: rotateY(180deg);
}

.card04:hover .card_img04 {
  transform: rotateY(0deg);
}

.news05 {
  border: 1px solid #dcdddd;
  width: 330px;
  height: 224px;
  margin-right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #fff;
}

.card06 {
  /* border: 1px solid black; */
  width: 330px;
  height: 224px;
  position: relative;
}

.news06 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  /* margin-right: 15px; */

  letter-spacing: 10px;
  /* writing-mode: tb-rl; */

  position: absolute;
  transform: rotateY(0deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.news06 h3 {
  margin-right: 70px;
  margin-top: 20px;
}

.news06 h4 {
  margin-right: 60px;
  margin-top: 20px;
}

.card_img06 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../img/a10.jpg');
  background-size: cover;
  transform: rotateY(-180deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.card06:hover .news06 {
  transform: rotateY(180deg);
}

.card06:hover .card_img06 {
  transform: rotateY(0deg);
}

.card07 {
  /* border: 1px solid black; */
  width: 330px;
  height: 224px;
  position: relative;

  margin-right: 15px;
}

.news07 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  /* margin-right: 15px; */

  letter-spacing: 10px;
  /* writing-mode: tb-rl; */

  position: absolute;
  transform: rotateY(0deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.news07 h3 {
  margin-right: 70px;
  margin-top: 20px;
}

.news07 h4 {
  margin-right: 60px;
  margin-top: 20px;
}

.card_img07 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../img/a05.jpg');
  background-size: cover;
  transform: rotateY(-180deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.card07:hover .news07 {
  transform: rotateY(180deg);
}

.card07:hover .card_img07 {
  transform: rotateY(0deg);
}

.card08 {
  /* border: 1px solid black; */
  width: 330px;
  height: 224px;
  position: relative;
  margin-right: 15px;
}

.news08 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  /* margin-right: 15px; */

  letter-spacing: 10px;
  /* writing-mode: tb-rl; */

  position: absolute;
  transform: rotateY(0deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.news08 h3 {
  margin-right: 70px;
  margin-top: 20px;
}

.news08 h4 {
  margin-right: 60px;
  margin-top: 20px;
}

.card_img08 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../img/a06.jpg');
  background-size: cover;
  transform: rotateY(-180deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.card08:hover .news08 {
  transform: rotateY(180deg);
}

.card08:hover .card_img08 {
  transform: rotateY(0deg);
}

.card09 {
  /* border: 1px solid black; */
  width: 330px;
  height: 224px;
  position: relative;
}

.news09 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  /* margin-right: 15px; */

  letter-spacing: 10px;
  /* writing-mode: tb-rl; */

  position: absolute;
  transform: rotateY(0deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.news09 h3 {
  margin-right: 70px;
  margin-top: 20px;
}

.news09 h4 {
  margin-right: 60px;
  margin-top: 20px;
}

.card_img09 {
  border: 1px solid #dcdddd;
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url('../img/a07.jpg');
  background-size: cover;
  transform: rotateY(-180deg);
  transition: all 1s;
  backface-visibility: hidden;
}

.card09:hover .news09 {
  transform: rotateY(180deg);
}

.card09:hover .card_img09 {
  transform: rotateY(0deg);
}

.footer {
  /* border: 1px solid red; */
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  color: white;
  display: flex;
  justify-content: center;
}

.all-ft {
  /* border: 1px solid red; */
  width: 1200px;
}

.ft-top {
  /* border: 1px solid blue; */
  display: flex;
}

.ft01 {
  margin-right: 350px;
  margin-top: 15px;
}

.ft01 h3 {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.ft01 li {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  padding-left: 10px;
  list-style: none;
}

.ft02 {
  margin-right: 420px;
  margin-top: 15px;
}

.ft02 li {
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.ft02 h3 {
  display: flex;
  justify-content: center;
}

.ft03 {
  margin-top: 15px;
}

.ft03 li {
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.avg {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 14px;
  color: white;
}
