* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fill-border {
  /* border: 1px solid red; */
  background-color: rgba(16, 16, 16, 0.95);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 102px;
  /* margin-left: 10px; */
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 800px;
  font-size: 20px;
  margin-right: 20px;
}

.nav_list > li {
  /* border: 1px solid blue; */
  display: flex;
  list-style: none;
  height: 100%;
  color: white;
  font-size: 16px;
  padding: 5px;
  transition: 2s all;
}

.nav_list > li > a {
  color: white;
  text-decoration: none;
}

.nav_list > li :hover {
  color: gray;
}

.nav-li-02 {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-01:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-02:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-03:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-04:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-05:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.menu-wrap {
  display: none;
}

.black {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
}

.black .contain {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.black .contain .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.black .contain .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.black .contain .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.black .contain .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

.black .contain .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.black .contain .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.black .contain .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

.black .contain .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

.black .contain .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

.black .contain .signupBx {
  pointer-events: none;
}

.black .contain.active .signupBx {
  pointer-events: initial;
}

.black .contain .signupBx .formBx {
  left: 100%;
}

.black .contain.active .signupBx .formBx {
  left: 0;
}

.black .contain .signupBx .imgBx {
  left: -100%;
}

.black .contain.active .signupBx .imgBx {
  left: 0%;
}

.black .contain .signinBx .formBx {
  left: 0%;
}

.black .contain.active .signinBx .formBx {
  left: 100%;
}

.black .contain .signinBx .imgBx {
  left: 0%;
}

.black .contain.active .signinBx .imgBx {
  left: -100%;
}

.wrong {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 15px;
}

.wrong02 {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 15px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  background: linear-gradient(125deg, black, 50%, transparent 50%) center center /
      100% 100%,
    url('../img/chilibanner.jpg') right center / auto 100%;
  color: white;
  margin: 0 auto;
  margin-top: 105px;
}

.b-content {
  height: 100%;
  width: 100%;
  max-width: 1440px;

  margin: auto;
}

.banner-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-text h1 {
  font-size: 80px;
  border-bottom: 1px solid #333;
  font-weight: 900;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
}

.banner-text h1 small {
  display: block;
  font-size: 53px;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 30px;
  font-weight: 700;
}

.banner-text p {
  font-size: 10px;
  font-weight: 300;
}

.story-content {
  /* border: 1px solid red; */
  width: 100%;
  height: 2500px;
}

.content01 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;
  transform: translateY(-100%);
  transition: all 2s;
  opacity: 0;
}

.godown {
  opacity: 1;
  transform: translateY(0%);
}

.story-img01 {
  margin-top: 150px;
  margin-left: 400px;
}

.list01 {
  margin-top: 350px;
  font-size: 14px;
}

.content02 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;
  transform: translateY(500%);
  transition: all 2s;
  opacity: 0;
}

.godown_02 {
  opacity: 1;
  transform: translateY(0%);
}

.list02 {
  margin-left: 400px;
  font-size: 14px;
  margin-top: 250px;
}

.story-img02 {
  margin-top: 150px;
  margin-left: 80px;
}

.content03 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;

  transform: translateX(-115%);
  transition: all 2s;
  opacity: 0;
}

.godown_03 {
  opacity: 1;
  transform: translateX(0%);
}

.list03 {
  margin-left: 50px;
  margin-right: 100px;
  font-size: 14px;
  margin-top: 150px;
}

.story-img03 {
  margin-top: 150px;
}

.content04 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;
  transform: translateY(170%);
  transition: all 2s;
  opacity: 0;
}

.godown_04 {
  opacity: 1;
  transform: translateY(0%);
}

.list04 {
  margin-top: 250px;
  font-size: 14px;
}

.story-img04 {
  margin-top: 150px;
  margin-left: 300px;
}

.list05 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;
  transform: translateX(-130%);
  transition: all 2s;
  opacity: 0;
}

.list05-content {
  margin-top: 150px;
  margin-left: 250px;
}

.godown_05 {
  opacity: 1;
  transform: translateX(0%);
}

.list06 {
  display: none;
}

.story-content-rwd {
  display: none;
}

.footer {
  /* border: 1px solid red; */
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  color: white;
  display: flex;
  justify-content: center;
}

.all-ft {
  /* border: 1px solid blue; */
  width: 1200px;
}

.ft-top {
  display: flex;
}

.ft01 {
  margin-right: 350px;
  margin-top: 15px;
}

.ft01 h3 {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.ft01 li {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  padding-left: 10px;
  list-style: none;
}

.ft02 {
  margin-right: 420px;
  margin-top: 15px;
}

.ft02 li {
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.ft02 h3 {
  display: flex;
  justify-content: center;
}

.ft03 {
  margin-top: 15px;
}

.ft03 li {
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.avg {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 14px;
  color: white;
}
