* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fill-border {
  /* border: 1px solid red; */
  background-color: rgba(16, 16, 16, 0.95);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 102px;
  /* margin-left: 10px; */
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 800px;
  font-size: 20px;
  /* margin-right: 10px; */
}

.nav_list > li {
  /* border: 1px solid blue; */
  display: flex;
  list-style: none;
  height: 100%;
  color: white;
  font-size: 16px;
  padding: 5px;
  transition: 2s all;
}

.nav_list > li > a {
  color: white;
  text-decoration: none;
}

.nav_list > li :hover {
  color: gray;
}

.nav-li-02 {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-01:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-02:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-03:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-04:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.nav-li-05:hover {
  border-bottom: 2px solid rgba(230, 0, 0, 1);
}

.menu-wrap {
  display: none;
}

.black {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  transition: 0.5s;
  background: rgba(16, 16, 16, 0.95);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
}

.login_container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;
  /* background: #ff0; */
}

.bluebg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.bluebg .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bluebg .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.bluebg .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.formbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.formbx.active {
  left: 50%;
}

.formbx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}

.formbx .signinform {
  transition-delay: 0.25s;
}

.formbx.active .signinform {
  left: -100%;
  transition-delay: 0s;
}

.formbx .signupform {
  left: 100%;
  transition-delay: 0s;
}

.formbx.active .signupform {
  left: 0;
  transition-delay: 0.25s;
}

.formbx .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formbx .form form h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}

.formbx .form form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
}

.formbx .form form input[type='submit'] {
  background: #03a9f4;
  border: none;
  color: #fff;
  max-width: 100px;
  cursor: pointer;
}

.formbx.active .signupform input[type='submit'] {
  background: #f43648;
}

.formbx .form form .forgot {
  color: #333;
  /* text-decoration: none; */
}

.wrong {
  position: absolute;
  font-size: 30px;
  top: -50px;
  right: 15px;
}

.wrong02 {
  position: absolute;
  font-size: 30px;
  top: 0px;
  right: 15px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  background: linear-gradient(125deg, black, 50%, transparent 50%) center center /
      100% 100%,
    url('../img/chilibanner.jpg') right center / auto 100%;
  color: white;
  margin: 0 auto;
  margin-top: 105px;
}

.b-content {
  height: 100%;
  width: 100%;
  max-width: 1440px;

  margin: auto;
}

.banner-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-text h1 {
  font-size: 80px;
  border-bottom: 1px solid #333;
  font-weight: 900;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
}

.banner-text h1 small {
  display: block;
  font-size: 53px;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 30px;
  font-weight: 700;
}

.banner-text p {
  font-size: 10px;
  font-weight: 300;
}

.story-content {
  /* border: 1px solid red; */
  width: 100%;
  height: 2500px;
}

.content01 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;
  transform: translateY(-100%);
  transition: all 2s;
  opacity: 0;
}

.godown {
  opacity: 1;
  transform: translateY(0%);
}

.story-img01 {
  margin-top: 150px;
  margin-left: 400px;
}

.list01 {
  margin-top: 350px;
  font-size: 14px;
}

.content02 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;
  transform: translateY(500%);
  transition: all 2s;
  opacity: 0;
}

.godown_02 {
  opacity: 1;
  transform: translateY(0%);
}

.list02 {
  margin-left: 400px;
  font-size: 14px;
  margin-top: 250px;
}

.story-img02 {
  margin-top: 150px;
  margin-left: 100px;
}

.content03 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;

  transform: translateX(-115%);
  transition: all 2s;
  opacity: 0;
}

.godown_03 {
  opacity: 1;
  transform: translateX(0%);
}

.list03 {
  margin-left: 50px;
  margin-right: 100px;
  font-size: 14px;
  margin-top: 150px;
}

.story-img03 {
  margin-top: 150px;
}

.content04 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;
  transform: translateY(170%);
  transition: all 2s;
  opacity: 0;
}

.godown_04 {
  opacity: 1;
  transform: translateY(0%);
}

.list04 {
  margin-top: 250px;
  font-size: 14px;
}

.story-img04 {
  margin-top: 150px;
  margin-left: 300px;
}

.list05 {
  /* border: 1px solid blue; */
  width: 1180px;
  display: flex;
  margin: 0 auto;
  transform: translateX(-130%);
  transition: all 2s;
  opacity: 0;
}

.list05-content {
  margin-top: 150px;
  margin-left: 250px;
}

.godown_05 {
  opacity: 1;
  transform: translateX(0%);
}

.list06 {
  display: none;
}

.footer {
  /* border: 1px solid red; */
  width: 100%;
  background-color: rgba(16, 16, 16, 0.95);
  color: white;
  display: flex;
  justify-content: center;
}

.all-ft {
  /* border: 1px solid blue; */
  width: 1200px;
}

.ft-top {
  display: flex;
}

.ft01 {
  margin-right: 350px;
  margin-top: 15px;
}

.ft01 h3 {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.ft01 li {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  padding-left: 10px;
  list-style: none;
}

.ft02 {
  margin-right: 420px;
  margin-top: 15px;
}

.ft02 li {
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.ft02 h3 {
  display: flex;
  justify-content: center;
}

.ft03 {
  margin-top: 15px;
}

.ft03 li {
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 14px;
  color: rgba(230, 0, 0, 1);
  list-style: none;
}

.avg {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 14px;
  color: white;
}
